footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
button:hover {
  -webkit-transform: scale(1.1);
}
body {
  text-align: center;
}
form {
  display: inline-block;
}
#header {
  height: 130px;
}
#header > h1 {
  font-size: 20px;
  float: left;
}
#btnLat,
#btnLac,
#btnLo,
#btnAf {
  float: right;
}
#btnProposal1,
#btnProposal2 {
  float: right;
}
#btnProfile {
  float: right;
  margin-left: 1rem;
}

.error-boundry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.error-message {
  font-size: 1rem;
  margin-top: 1rem;
}
.error-info {
  font-size: 1rem;
}
