footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
body {
    text-align: center;
}
form {
    display: inline-block;
}
#menu{
    height: 100px;
}
#btnLat, #btnLac, #btnLo, #btnAf {
    float: right;
}